<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.GroupMapper">
	
	<insert id="makeGroup">
		<selectKey keyProperty="gno" order="BEFORE" resultType="long">
			select seq_gno.nextval from dual
		</selectKey>
		insert into tbl_group(gno, group_name, leader, subject, description, member_number)
			values(#{gno}, #{group_name}, #{leader}, #{subject}, #{description}, #{member_number})
	</insert>
	
	<select id="showAll" resultType="com.green.vo.GroupVO">
		select * from tbl_group order by gno desc
	</select>
	
	<select id="groupNameCheck" resultType="int">
		select count(*) from tbl_group where group_name=#{group_name}
	</select>
	
	<select id="showOne" resultType="com.green.vo.GroupVO">
		select * from tbl_group where group_name = #{group_name}
	</select>
	
	<delete id="deleteGroup">
		delete from tbl_group where group_name = #{group_name}
	</delete>
	
	
	<update id="GroupAuth">
		update tbl_group set authorized=#{authorized} where gno=#{gno}
	</update>
	
	
	
</mapper>

   