<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.green.mapper.LetterMapper">

	<insert id="insert">
		insert into letter_tbl
			values(lno_seq.nextval,#{writer},#{recipient},#{content},#{reg_date})
	</insert>

	<select id="myLetter" resultType="com.green.vo.LetterVO">
		select *from letter_tbl where recipient=#{recipient}
	</select>
</mapper>