<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.ReplyMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=") and " prefixOverrides="OR">
			    	<foreach item="type" collection="cri.typeArr">
			    		<trim prefix="OR">
			    			<choose>
			    				<when test="type== 'T'.toString()">
			    					title like '%'||#{keyword}||'%'
			    				</when>
			    				<when test="type== 'W'.toString()">
			    					writer like '%'||#{keyword}||'%'
			    				</when>
			    			</choose>
			    		</trim>
			    	</foreach>
		    </trim>
	</sql>
	
	
	<select id="getReplysByBno" resultType="com.green.vo.BoardReplyVO" >
		select * from board_reply where bno=#{bno}
	</select>
	
	<select id="getReplyOne" resultType="com.green.vo.BoardReplyVO">
		select * from board_reply where rno=#{rno}
	</select>
	
	<insert id="registerReply">
		<selectKey keyProperty="rno" order="BEFORE" resultType="long">
			select board_rno.nextval from dual
		</selectKey>
		insert into board_reply(bno, rno, reply, replyer, replydate)
			values(#{bno}, #{rno}, #{reply}, #{replyer}, sysdate)
	</insert>
	
	<update id="updateReply">
		update board_reply set reply=#{reply}, updatedate = sysdate where rno=#{rno}
	</update>

	<delete id="deleteReply">
		delete board_reply where rno=#{rno}
	</delete>

	<select id="myReply" resultType="com.green.vo.BoardReplyVO">
		<![CDATA[
			select bno, rno, reply, replyer, replydate
			from (
			    select /*+ index_desc(qna_tbl pk_qno) */
				    rownum rn, bno, rno, reply, replyer, replydate
				    	from 
				    	(select * from  board_reply 
					    	order by replydate desc nulls LAST
					   	)
				    where 
		]]>
		<include refid="criteria"></include>
	    <![CDATA[
			    rownum <=#{cri.pageNum} * #{cri.amount}
		    )
		    where rn> (#{cri.pageNum}-1) * #{cri.amount}  
		]]>
	
	</select>


	<delete id="deleteReplyByBno">
		delete board_reply where bno=#{bno}
	</delete>
	
	<select id="totalReply" resultType="int">
		select count(*) from board_reply where replyer=#{replyer} and
		<include refid="criteria"></include>
		rno>0
	</select>
</mapper>