<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.green.mapper.ReviewMapper">
	
	
	<!-- 리뷰 등록  -->
	<insert id="insert">
		<selectKey keyProperty="rno" order="BEFORE" resultType="Long">
			select seq_rrno.nextval from dual
		</selectKey>
		insert into tbl_review values
		(#{rno}, #{group_name},#{title},#{content},#{writer},sysdate,null,0,default)
	</insert>
	
	
	<!-- 리뷰 조회  -->
	<select id="read" resultType="com.green.vo.ReviewVO">
		select * from tbl_review where rno=#{rno}
	</select> 
	
	<!-- 리뷰 수정  -->
	<update id="update">
		update tbl_review set group_name=#{group_name},title=#{title},content=#{content}, writer=#{writer} where rno=#{rno}
	</update>
	
	<!-- 리뷰 전체 목록 조회  -->
	<select id="getList" resultType="com.green.vo.ReviewVO"> 
		select * from tbl_review order by rno asc 
	</select>
	
	<!-- 리뷰 삭제  -->
	<delete id="delete">
		delete from tbl_review where rno = #{rno}
	</delete> 
	

	<!-- 리뷰 전체 게시물 페이징 처리 조회  -->
	<select id="listqnaWithPaging" resultType="com.green.vo.ReviewVO">
		<![CDATA[
			select * from (
			    select /*+ index_desc(tbl_review pk_rno) */
				    rownum rn, rno, group_name,title,content,writer,regdate,reply_count,view_count,attachedFile
				    	from 
				    	(select * from  tbl_review 
					    	order by rno desc nulls LAST
					   	)
				    where 
		]]>
		<include refid="criteria"></include>
	    <![CDATA[
			    rownum <=#{pageNum} * #{amount}
		    )
		    where rn> (#{pageNum}-1) * #{amount}  
		]]>
	</select> 
	

	
	<!-- 검색 처리를 위한 쿼리문  -->
	<sql id="criteria">
		<trim prefix="(" suffix=") and " prefixOverrides="OR">
	    	<foreach item="type" collection="typeArr">
	    		<trim prefix="OR">
	    			<choose>
	    				<when test="type== 'T'.toString()">
	    					title like '%'||#{keyword}||'%'
	    				</when>
	    				<when test="type== 'W'.toString()">
	    					writer like '%'||#{keyword}||'%'
	    				</when>
	    			</choose>
	    		</trim>
	    	</foreach>
		</trim>
	</sql> 
	
	
	<!-- 페이지 수   -->
	<select id="listCount" resultType="int">
		select count(*) from tbl_review where
		<include refid="criteria"></include>
		 rno>0
	</select>
	
	<!-- 리플 갯수   -->
	<update id="updateReplyCount" parameterType="long">
		update tbl_review b
		set reply_count = (select count(cno) from review_reply where rno=#{rno})
		where b.rno =#{rno}
	</update>
	
	
	<!-- 조회수   -->
	<update id="viewCount" parameterType="long"> 
		update tbl_review
		set view_count = view_count+1
		where rno = #{rno}
	</update>
	
	<!-- 첨부유무   -->
	<update id="attachedFile" parameterType="long">
		update tbl_review b 
		set attachedFile = (select count(rno) from attachFile where rno=#{rno})
		where b.rno=#{rno}
	</update>	

</mapper>