<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.UserMapper">

	
	<select id="userSelect" resultType="com.green.vo.UserVO" >
		select * from tbl_user order by uno desc
	</select>

	<insert id="userInsert">
		insert into tbl_user(uno, user_id, password,name,email) 
			values(seq_uno.nextval, #{user_id},#{password},#{name},#{email})
	</insert>
	
	<update id="susp">
		update tbl_user set suspension=#{suspension}, suspContent=#{suspContent},suspDate=#{suspDate}
			where user_id=#{user_id}
	</update>
</mapper>