<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
    <script src="https://kit.fontawesome.com/eab4c34ae3.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div onclick="history.back()">
		 <i class="fas fa-arrow-circle-left"></i><a href="/group/"> 메인 </a></p>
		</div>

		<c:if test="${user.user_id== one.leader}">
			<a href="/group/gather/${one.group_name}/modify">
				<button>모집글 수정하기</button></a
			>
		</c:if>
    <c:if test="${user.user_id eq one.leader}">
			<button class="delete">그룹 삭제</button>
		</c:if>
    <c:if test="${user.user_id == 'admin'}">
			<button class="auth">승인하기</button>
		</c:if>

		<br />
		<div class="profile">
			<img class="profile" src="${one.profile}" />
		</div>
		${one.group_name}<br />
		${one.leader }<br />
		${one.subject }<br />
		${one.description }<br />
		${one.member_number }<br />

		

		<div class="signup">
			<c:if test="${user != null && user.user_id != one.leader}">
				<button class="signup">지원하기</button>
			</c:if>
		</div>

		<br />
	
	</body>
</html>
