<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<script>
			class Student {
				constructor(name, age, enrolled, score) {
					this.name = name;
					this.age = age;
					this.enrolled = enrolled;
					this.score = score;
				}
			}
			const students = [
				new Student("A", 29, true, 45),
				new Student("B", 28, false, 80),
				new Student("C", 30, true, 90),
				new Student("D", 40, false, 66),
				new Student("E", 18, true, 88),
			];

			let res = students.reduce( ( acc, cur ) => {
				acc += cur.age
				return acc
			}, 0)
			console.log(res)

			res = students.map( i => { 
				let a = i.score  
				return a 
			})
			console.log(res)

			res = students.filter(({enrolled}) => enrolled).map(console.log)

			let a = '아자자'
			console.log(` 나는 깍쟁이 ${a}`)

		</script>
	</body>
</html>
